<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aerial - Social Network App</title>
  <link rel="reset" href="/css/reset.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <header>
    <h1>Aerial Conferencing</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/room">Join A room</a>
    <ul> <!-- Add a wrapping <ul> -->
      <li><a href="#profile">Profile</a></li>
      <li><a href="#feed">Feed</a></li>
      <li><a href="#messages">Messages</a></li>
    </ul>
    {{#if loggedIn}}
    <button id="logout" style="background: none; border: none; padding: 0;">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2></h2>
    </aside>
    <div class="">
      {{{body}}}
    </div>
    {{#if loggedIn}}
    <div>
      <aside>
        <h2>Friends</h2>
        <div>
          <ol id="friend-list">
            {{#each friends}}
              <li>{{username}}'s Friends:
                <ul>
                  {{#each friends}}
                    <li>{{username}}</li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ol>
          <form class="form friend-form">
            <div class="form-group">
              <label for="username-input">Username:</label>
              <input class="form-input" type="text" id="username-input" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary add-friend" type="submit">Add friend</button>
              <button class="btn btn-primary remove-friend" type="submit">Remove friend</button>
            </div>
          </form>
        </div>
      </aside>
    </div>
    {{/if}}
  </main>
  
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  <script src="/js/friend/add-remove-friend.js"></script>
  <script src="/js/friend/friendlist-render.js"></script>
  {{/if}}
</body>
</html>
