<div class="row justify-space-between-md" id="email-form">
  <div class="forgetpassword-card">
    <form id="forgetpassword-form" class="form forgetpassword-form">
        <p>Enter the email address associated with your account, and we'll send you a link to reset your password.</p>
        <div class="form-group">
            <label for="email-login">Email:</label>
            <input class="form-input" type="text" id="email-login" />
            <button class="btn btn-primary" type="button" id="email-submit">Send Email</button>
        </div>
    </form>   
  </div>
</div>
<div class="row justify-space-between-md" id="reset-form">
  <div class="forgetpassword-card">
    <form id="forgetpassword-form" class="form forgetpassword-form">
        <p>If There Is An Account With The Entered Email You Will Receive A Reset Code</p>
        <div class="form-group">
            <label for="reset-code">Reset Code:</label>
            <input class="form-input" type="text" id="reset-code" />
            <button class="btn btn-primary" type="button" id="code-submit">Confirm</button>
        </div>
    </form>   
  </div>
</div>
<div class="row justify-space-between-md" id="newpass-form">
  <div class="forgetpassword-card">
    <form id="forgetpassword-form" class="form forgetpassword-form">
        <p>Please Enter Your New Password</p>
        <div class="form-group">
            <label for="newpassword">New Password</label>
            <input class="form-input" type="text" id="reset-code" />
            <button class="btn btn-primary" type="button" id="code-submit">Confirm</button>
        </div>
    </form>   
  </div>
</div>






<script src="/js/password-recover.js"></script>