<div class="row justify-space-between-md">
  <div class="forgetpassword-card">
    <form id="forgetpassword-form" class="form forgetpassword-form">
        <p>Enter the email address associated with your account, and we'll send you a link to reset your password.</p>
        <div class="form-group">
            <label for="email-login">Email:</label>
            <input class="form-input" type="text" id="email-login" />
            <button class="btn btn-primary" type="button" onclick="submitForgetPasswordForm()">Continue</button>
        </div>
    </form>   
  </div>
</div>
