<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aerial - Social Network App</title>
    <link rel="reset" href="/css/reset.css">
    <link rel="stylesheet" href="/css/landing.css">
</head>

<body>
    <!-- Landing Page Content -->
    <section class="landing">
        <div class="landing-content">
            <h1>Welcome to Aerial!</h1>
            <p>Connect, collaborate, and share moments with Aerial - your social network for seamless communication.</p>
        </div>
    </section>
</body>

</html>
