<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
       <!-- Login Form Content -->
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
        <p>Don't have an acount? </br>
        Click<a href="/signup"> Here </a> to sign up an account</p>
        <p><a href="/forgetpassword">Forget Password? </a></p>
      </div>
    </form>
  </div>
  

<script src="./js/login.js"></script>