<div id="join-screen">

      <!-- Join Screen Content -->
      
  <button id="createMeetingBtn">New Meeting</button>
  or
  <input type="text" id="meetingIdTxt" placeholder="Enter Meeting id" />
  <button id="joinBtn">Join Meeting</button>
</div>

<div id="textDiv"></div>


<div id="grid-screen" style="display: none">
  
  <h3 id="meetingIdHeading"></h3>

  <button id="leaveBtn">Leave</button>
  <button id="toggleMicBtn">Toggle Mic</button>
  <button id="toggleWebCamBtn">Toggle WebCam</button>


  <div class="row" id="videoContainer"></div>
</div>


<script src="https://sdk.videosdk.live/js-sdk/0.0.78/videosdk.js"></script>
<script src="/js/room.js"></script>

